/* Buttons */
.buttons{
    text-decoration: none;
    color: black;
}

/* "Web Bootcamp" Header*/
header{
    font-size: 60px;
    text-align: center;
    font-weight: 200
}
		/*  Start of navbar styling */
ul {
	list-style-type: none;
    margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
	color: white;
}
.active {
	background-color: rgb(170, 85, 85);
}
/*  End of navbar styling */

.carousel{
    border: 4px solid rgb(170, 85, 85);
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 12px;
	overflow: hidden;
	height: 35em;
}

.footer{
	background-color: #333;
	border-top: 4px solid rgb(170, 85, 85);
    padding:.2%;
    color: white;
    text-align: center;
}
#stick {
    z-index:1; 
    width: 100%;
}

/* CSS For Life In Wild Activity
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}
img:hover{
    transform: scale(1.05);
}
*/

#educationPic .text {
    transition: opacity 0.5s ease-in-out;
    position:absolute; 
    top:0; 
    left:0; 
    opacity:0;
}
#educationPic:hover .image {
    transition: opacity 0.5s ease-in-out;
    opacity:0;
}
#educationPic:hover .text {
    opacity:1;
}
.item{
    height:35em;
}
.card{
    margin:1em;
    height: 25em;
    width: 42em;
    background-color: white;
    border:4px solid rgb(170, 85, 85);
    border-radius: 15px;    
}
.card-body{
    overflow: hidden;

}
.image{
    width: 100%;
    object-fit: cover;
}